.about-container {
    padding: 5vh 3vw;
    gap: 5vw;

    &#about {
        align-items: flex-start;
    }
    .svg-container {
        width: 40vw;

        svg {
            background-color: var(--primary-color);
        }
    }

    .about-wrapper {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 2vh;

        margin-top: 5%;

        .about-title {
            position: relative;

            .span-wrapper {
                background-color: var(--primary-color);
                padding-left: 10px;
                span {
                    color: var(--sixty-percent);
                }
            }

            &::before {
                content: '';

                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                height: 2px;

                z-index: -1;

                background-color: var(--accent-color);
            }
        }

        .about-content {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            gap: 2vh;

            .about-contents {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 2vw;

                .contents-wrapper {
                    &:nth-child(2) {
                        position: relative;
                        top: 30px;
                    }

                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: column;
                    gap: 6vh;

                    .about-content {
                        width: 350px;
                        aspect-ratio: 1.5/1;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        gap: 2vh;

                        border-radius: 10px;

                        background-color: var(--thirty-percent);

                        cursor: default;

                        padding: 2rem 1rem;

                        position: relative;

                        transition: box-shadow 0.3s;

                        &:hover {
                            box-shadow: 0px 20px 40px -10px rgb(0 0 0 / 30%);
                        }

                        .about-svg {
                            border-radius: 100vmax;

                            position: absolute;
                            top: 0;
                            transform: translateY(-50%);

                            background-color: grey;

                            box-shadow: 0 5px 10px -5px var(--accent-color);

                            svg {
                                margin: 12px;
                            }

                            &.trust {
                                background-color: #a9d4ff;
                                svg {
                                    fill: #0a64bc;
                                }
                            }

                            &.innovation {
                                background-color: #e0d1fc;
                                svg {
                                    fill: #7b54c4;
                                }
                            }
                        }
                        .about-description {
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}
