.about-container {
    padding: 3vw 7vh;
    gap: 3vw;

    &#about {
        align-items: flex-start;
    }
    .svg-container {
        width: 40vw;

        svg {
            background-color: var(--primary-color);
        }
    }

    .about-wrapper {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 2vh;

        margin-top: 5%;

        .about-title {
            position: relative;

            .span-wrapper {
                background-color: var(--primary-color);
                padding-left: 10px;
                span {
                    color: var(--sixty-percent);
                }
            }

            &::before {
                content: '';

                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                height: 2px;

                z-index: -1;

                background-color: var(--accent-color);
            }
        }

        .about-content {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            gap: 2vh;

            .about-contents {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 2vw;

                .contents-wrapper {
                    &:nth-child(2) {
                        position: relative;
                        top: 30px;
                    }

                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: column;
                    gap: 6vh;

                    .about-content {
                        width: 350px;
                        aspect-ratio: 1.5/1;

                        border-radius: 10px;

                        background-color: var(--thirty-percent);
                    }
                }
            }
        }
    }
}
