.contact-container {
    height: 100vh;

    justify-content: center;
    gap: 5vw;

    .svg-container {
        width: 40vw;
    }
    .contact-wrapper {
        // debug
        min-width: 400px;

        display: flex;
        flex-direction: column;
        gap: 2vh;

        &.active {
            .contact-title {
                &::before {
                    width: 100%;
                }
                .contact-title-wrapper {
                    transform: translateY(0);
                }
            }
            .contact-content-wrapper {
                .contact-content-title {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }

        .contact-title {
            position: relative;
            isolation: isolate;

            display: flex;
            align-items: center;

            overflow: hidden;

            &::before {
                content: '';

                position: absolute;
                left: 0;

                width: 0;
                height: 2px;

                background-color: var(--accent-color);

                z-index: -1;
                transition: width 1s 1s ease-in-out;
            }

            .contact-title-wrapper {
                padding-left: 10px;

                background-color: var(--primary-color);

                transform: translateY(100%);
                transition: transform 1s ease-in-out;
            }
        }

        .contact-content-wrapper {
            display: flex;
            flex-direction: column;
            gap: 4vh;

            .contact-content-title {
                transform: translateX(50%);
                opacity: 0;

                transition: all 1s 1.5s ease-in-out;
            }
        }
    }
}
