.contact-container {
    height: auto;

    justify-content: center;
    gap: 5vw;

    overflow: hidden;

    @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
    }

    .svg-container {
        width: 40vw;

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    .contact-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2vh;

        &.active {
            .contact-title {
                &::before {
                    width: 100%;
                }
                .contact-title-wrapper {
                    transform: translateY(0);
                }
            }
            .contact-content-wrapper {
                .contact-content-title {
                    opacity: 1;
                    transform: translateX(0);
                }
                .contact-content .contact-columns {
                    .contact-column {
                        animation: contact-column-fadein 1s ease-in-out forwards;

                        @keyframes contact-column-fadein {
                            from {
                                opacity: 0;
                                transform: translateX(100%);
                            }
                            to {
                                opacity: 1;
                                transform: translateX(0);
                            }
                        }
                    }
                }
            }
            .contact-see-more {
                button {
                    top: 0;
                }
            }
        }

        .contact-title {
            position: relative;
            isolation: isolate;

            display: flex;
            align-items: center;

            overflow: hidden;

            &::before {
                content: '';

                position: absolute;
                left: 0;

                width: 0;
                height: 2px;

                background-color: var(--accent-color);

                z-index: -1;
                transition: width 1s 1s ease-in-out;
            }

            .contact-title-wrapper {
                padding-left: 10px;

                background-color: var(--primary-color);

                transform: translateY(100%);
                transition: transform 1s ease-in-out;
            }
        }

        .contact-content-wrapper {
            display: flex;
            flex-direction: column;
            gap: 6vh;

            .contact-content-title {
                transform: translateX(50%);
                opacity: 0;

                transition: all 1s 1.5s ease-in-out;
            }
            .contact-content {
                display: flex;
                align-items: center;
                justify-content: center;

                gap: 5vw;

                @media screen and (max-width: 768px) {
                    flex-direction: column;
                }

                .contact-columns {
                    display: flex;
                    flex-direction: column;

                    gap: 4vh;

                    .contact-column {
                        position: relative;
                        isolation: isolate;

                        width: 340px;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1vw;

                        padding: 1rem;

                        border-radius: 10px;
                        box-shadow: 0px 32px 10px -27px;

                        background-color: var(--thirty-percent);

                        cursor: pointer;

                        overflow: hidden;

                        transition: color 0.5s ease-in-out;

                        // animation
                        opacity: 0;
                        transform: translateX(100%);

                        @media screen and (max-width: 1024px) {
                            width: unset;
                            min-width: 270px;
                            max-width: 340px;
                        }

                        &:hover {
                            color: #f2f2f2;

                            &::after {
                                transform: translateX(0);
                            }
                        }

                        @media screen and (min-width: 768px) {
                            &:nth-child(2) {
                                position: relative;
                                right: 25px;
                            }
                        }
                        &::before {
                            content: '';
                            position: absolute;
                            z-index: -1;

                            top: -8px;
                            right: -8%;

                            width: 85px;
                            height: 85px;
                            border-radius: 100vmax;
                        }

                        &::after {
                            content: '';

                            position: absolute;
                            width: 100%;
                            height: 100%;
                            z-index: -1;

                            transform: translateX(100%);

                            transition: transform 0.5s ease-in-out;
                        }

                        &.gmail {
                            &::before,
                            &::after {
                                background-color: #ff4343;
                            }
                        }
                        &.phone {
                            &::before,
                            &::after {
                                background-color: var(--ten-percent);
                            }
                        }
                        &.location {
                            &::before,
                            &::after {
                                background-color: #34a853;
                            }
                        }
                        &.fax {
                            &::before,
                            &::after {
                                background-color: #ff4343;
                            }
                        }

                        .column-holder {
                            flex: 1 1 0;
                            text-align: center;

                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                        .column-icon {
                            svg {
                                fill: #f2f2f2;
                            }
                        }
                    }
                }
            }
        }
        .contact-see-more {
            margin: 0 auto;
            margin-top: 4vh;

            width: 40%;

            padding: 2rem 3rem;

            overflow: hidden;

            @media screen and (max-width: 768px) {
                width: 100%;
            }

            &:hover button {
                animation: none;
            }

            button {
                font: inherit;
                border: none;

                position: relative;
                top: 100px;

                width: 100%;
                padding: 0.5rem 1rem;

                border: 2px solid;
                border-color: var(--ten-percent);
                border-radius: 100vmax;

                background-color: transparent;

                color: var(--ten-percent);
                cursor: pointer;

                transition: top 1s 5s ease-in-out;
                animation: button-anim 1.5s 10s alternate infinite;

                @keyframes button-anim {
                    from {
                        transform: scaleX(1.05);
                    }
                    to {
                        transform: translateY(-30%) scaleX(1);
                    }
                }
            }
        }
    }
}
