.hero-cointainer {
    height: 85vh;

    background-color: var(--thirty-percent);

    justify-content: center;

    &#hero .svg-container {
        display: grid;
        place-items: center;

        width: 30vw;
        height: 100%;

        animation: svg-fade-in 1s 0.3s both ease-in-out;

        @keyframes svg-fade-in {
            from {
                transform: translateY(20%);
                opacity: 0;
            }
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }

        img {
            width: 100%;
            object-fit: cover;

            animation: img-bounce 4s 2s ease-in-out infinite;

            @keyframes img-bounce {
                0% {
                    transform: translateY(0);
                }
                50% {
                    transform: translateY(-3%);
                }
                100% {
                    transform: translateY(0);
                }
            }
        }
    }

    .texts-container {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 1vh;

        .motto {
            margin: 1vh 0;

            .cursor {
                background: var(--sixty-percent);
                width: 2px;
                height: 15px;
                display: inline-block;
            }

            .word {
                color: var(--ten-percent);
            }
        }

        .text-desc {
            width: 70%;
            margin-left: auto;

            margin-top: 0.25vh;

            opacity: 0.7;
        }

        .animation {
            div:not(.hero-btns) {
                animation: text-fadein backwards 1s 2s ease-in-out;
            }
            .hero-btns {
                button {
                    animation: text-fadein backwards 1s 2s ease-in-out;
                }
            }
            @keyframes text-fadein {
                from {
                    transform: translateY(100%);
                    opacity: 0;
                }
                to {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }

    .hero-btns {
        margin-top: 4vh;
        display: flex;
        gap: 3vw;

        padding: 1rem 0;

        overflow: hidden;

        button {
            font: inherit;
            border: none;
            cursor: pointer;

            background-color: transparent;

            padding: 1rem 3rem;
            border-radius: 10px;

            color: var(--accent-color);

            &.about {
                border: 2px solid var(--sixty-percent);
            }
            &.action {
                background-color: var(--primary-color);
                color: var(--sixty-percent);

                box-shadow: 0px 25px 15px -25px black;
            }
        }
    }

    .scroll-down {
        position: absolute;
        bottom: 10px;

        width: 30px;
        height: 50px;
        margin-left: -15px;
        border: 2px solid #fff;
        border-radius: 50px;

        display: grid;
        place-items: center;

        &::before {
            content: '';

            position: absolute;
            top: 8px;
            width: 6px;
            height: 10px;

            background-color: var(--sixty-percent);

            border-radius: 100vmax;

            animation: sdb10 cubic-bezier(0.29, 0.89, 1, 0.71) 2s infinite;

            @keyframes sdb10 {
                0% {
                    transform: translate(0, 0);
                    opacity: 0;
                }
                40% {
                    opacity: 1;
                }
                80% {
                    transform: translate(0, 100%);
                    opacity: 0;
                }
                100% {
                    opacity: 0;
                }
            }
        }
    }
}
