.sell-container {
    height: auto;

    flex-direction: column;
    justify-content: flex-start;

    gap: 20vh;

    padding: 5vh 3vw;

    @media screen and (max-width: 768px) {
        gap: 35vh;
    }

    .sell-titles {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;

        .sell-little-title-wrapper {
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;

            isolation: isolate;
            overflow: hidden;

            &.active {
                &::before,
                &::after {
                    width: 100%;
                }
                .sell-little-title {
                    transform: translateY(0);
                }
            }

            &::before,
            &::after {
                content: '';
                position: absolute;

                width: 0;
                height: 2px;

                z-index: -1;

                background-color: var(--accent-color);

                transition: width 1.5s 0.5s ease-in-out;
            }

            .sell-little-title {
                transform: translateY(100%);

                padding: 0 10px;

                background-color: var(--primary-color);

                transition: transform 1s ease-in-out;
            }

            &::before {
                left: 0;
            }
            &::after {
                right: 0;
            }
        }
        .sell-title {
            margin: 0 30px;

            transition: transform 0.3s ease-in-out;
        }
    }
    .sell-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        width: 100%;
        height: 100%;

        column-gap: 5vw;
        row-gap: 5vh;

        @media screen and (max-width: 768px) {
            row-gap: 25vh;
        }

        .sell-card-wrapper {
            aspect-ratio: 3.5/5;
            width: 100%;
            max-width: 400px;

            border-radius: 20px;

            background-color: var(--thirty-percent);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 5vh;

            transition: transform 0.3s ease;

            @media screen and (max-width: 768px) {
                aspect-ratio: 4.5/5;
            }

            .card-img {
                transform: translateY(-50%);

                margin-bottom: -50%;

                width: 100%;

                display: grid;
                place-items: center;

                @media screen and (max-width: 768px) {
                    width: 80%;
                }
            }
            .card-content {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 3vh;

                padding: 0 1rem;

                .card-title-wrapper {
                    position: relative;
                    isolation: isolate;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    width: 100%;
                    .card-title {
                        padding: 0 15px;
                        background-color: inherit;

                        white-space: nowrap;
                    }

                    &::before,
                    &::after {
                        content: '';

                        z-index: -1;

                        width: 30%;
                        height: 2px;

                        background-color: var(--sixty-percent);
                    }
                }

                .card-description {
                    opacity: 0.7;
                    text-align: center;
                }
            }
            .see-more-wrapper {
                width: 100%;
                padding: 1rem;
                .see-more {
                    width: 100%;
                    padding: 0.5rem 1rem;
                    background-color: var(--ten-percent);

                    border-radius: 7px;

                    cursor: pointer;

                    overflow: hidden;

                    // reset
                    border: none;
                    position: relative;

                    transition: transform 0.3s ease-in-out,
                        box-shadow 0.3s ease-in-out;

                    &:hover {
                        transform: translateY(-20%);
                        box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.5);
                    }
                }
            }
        }
    }
}
