// Titles Font
@font-face {
    font-family: Shabnam;
    src: url('shabnam/Shabnam-Bold.eot');
    src: url('shabnam/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
        url('shabnam/Shabnam-Bold.woff2') format('woff2'),
        url('shabnam/Shabnam-Bold.woff') format('woff'),
        url('shabnam/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
}
