* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    color: #fff;
    background-color: #555;
}

body {
    --primary-color: #f2f2f2;
    --accent-color: #121212;

    --sixty-percent: #7b54c4;
    --thirty-percent: #d7cfe6;

    overflow: hidden;
    color-scheme: light;
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.error-container {
    width: 100%;
    height: 100vh;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;

    background-color: var(--thirty-percent);
}

.error-container .svg-container {
    width: 30vw;
}

.error-container .error-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;

    text-align: center;
}

.error-container .error-texts .title {
    font-size: clamp(0.9rem, 2.2vw + 0.6rem, 2.1rem);
    font-family: 'Shabnam';
}

.error-container .error-texts .description {
    font-size: clamp(0.9rem, 0.6rem + 2vw, 1.4rem);
    font-family: 'Shabnam';
    padding: 0 3rem;
}

.error-container .home-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;

    padding: 1rem 3rem;
    border-radius: 10px;

    font-size: clamp(0.7rem, 0.4rem + 1.8vw, 1.25rem);
    font-family: Shabnam;

    background-color: #f2f2f2;
    box-shadow: 0 25px 15px -25px #000;
    color: #7b54c4;

    /* reset  */
    text-decoration: none;
}
.error-container .home-btn .icon{
    display: grid;
    place-items: center;
}

@media screen and (max-width: 768px) {
    .error-container .svg-container {
        width: 80%;
    }
}
