@use '@00-team/utils' as *;

.error-container {
    @include box(100%, 100vh);

    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;

    margin-top: -2vh;

    background-color: var(--thirty-percent);

    .svg-container {
        width: 30vw;
    }

    .home-link {
        padding: 0.5rem 1rem;

        margin-top: 3vh;

        background-color: var(--ten-percent);

        border: none;

        border-radius: 5px;

        cursor: pointer;

        animation: bounce 0.5s alternate infinite;

        &:hover {
            animation: none;
        }

        @keyframes bounce {
            from {
                transform: scaleX(1.1);
            }
            to {
                transform: translateY(-50%) scaleX(1);
            }
        }
    }
}
