.footer-container {
    // debug
    height: 50vh;
    //

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3vh;

    padding: 2vh 3vw;

    width: 100%;

    background-color: var(--thirty-percent);
}
