.footer-container {
    // debug
    height: 50vh;
    //

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 3vh;

    padding: 3vh 3vw;
    padding-top: 6vh;

    width: 100%;

    background-color: var(--thirty-percent);
    .header-section-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        flex-wrap: wrap;

        width: 100%;
        .header-section-container {
            width: 25%;
            min-width: 400px;

            .header-section {
                padding: 1rem 2rem;

                border-radius: 10px;

                background-color: var(--primary-color);

                overflow: hidden;

                cursor: pointer;

                isolation: isolate;
                position: relative;

                &::before,
                &::after,
                .header-section-elems::before,
                .header-section-elems::after {
                    content: '';

                    position: absolute;
                    top: 0;

                    width: 25.25%;

                    z-index: -1;

                    transition: all 1s ease-in-out;
                }

                &::before {
                    left: 0;
                }
                &::after {
                    left: 50%;
                }

                .header-section-elems {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 1vw;

                    &::before,
                    &::after {
                        top: auto;
                        bottom: 0;
                    }

                    &::before {
                        left: 25%;
                    }
                    &::after {
                        left: 75%;
                    }
                }

                &:hover {
                    &::before,
                    &::after,
                    .header-section-elems::before,
                    .header-section-elems::after {
                        animation: footer-height 0.5s ease-in-out forwards;

                        @keyframes footer-height {
                            from {
                                height: 0;
                            }
                            to {
                                height: 100%;
                            }
                        }
                    }
                }

                &.header-gmail {
                    &:before,
                    &:after,
                    .header-section-elems:before,
                    .header-section-elems:after {
                        background-color: #ff4343;
                    }
                }
                &.header-call {
                    &:before,
                    &:after,
                    .header-section-elems:before,
                    .header-section-elems:after {
                        background-color: var(--ten-percent);
                    }
                }
                &.header-location {
                    &:before,
                    &:after,
                    .header-section-elems:before,
                    .header-section-elems:after {
                        background-color: #34a853;
                    }
                }

                .header-holder {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .header-icon {
                    border-radius: 100vmax;

                    &.location {
                        background-color: #34a853;
                    }

                    &.gmail {
                        background-color: #ff4343;
                    }

                    &.call {
                        background-color: var(--ten-percent);
                    }

                    svg {
                        margin: 10px;
                        fill: white;
                    }
                }
            }
        }
    }
}
