.footer-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5vh;

    padding: 4vh 3vw;

    width: 100%;

    background-color: var(--thirty-percent);
    .header-section-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        flex-wrap: wrap;

        width: 100%;

        @media screen and (max-width: 768px) {
            justify-content: center;
            gap: 5vh;
        }
        @media screen and (max-width: 751px) {
            margin: 5vh 0;
        }
        .header-section-container {
            width: 25%;
            min-width: 320px;

            @media screen and (max-width: 768px) {
                min-width: 280px;
            }

            .header-section {
                padding: 1rem 2rem;

                border-radius: 10px;

                background-color: var(--primary-color);

                overflow: hidden;

                cursor: pointer;

                isolation: isolate;
                position: relative;

                &::before,
                &::after,
                .header-section-elems::before,
                .header-section-elems::after {
                    content: '';

                    position: absolute;
                    top: 0;

                    width: 25.25%;

                    z-index: -1;

                    transition: all 1s ease-in-out;
                }

                &::before {
                    left: 0;
                }
                &::after {
                    left: 50%;
                }

                .header-section-elems {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 1vw;

                    &::before,
                    &::after {
                        top: auto;
                        bottom: 0;
                    }

                    &::before {
                        left: 25%;
                    }
                    &::after {
                        left: 75%;
                    }
                }

                &:hover {
                    &::before,
                    &::after,
                    .header-section-elems::before,
                    .header-section-elems::after {
                        animation: footer-height 0.5s ease-in-out forwards;

                        @keyframes footer-height {
                            from {
                                height: 0;
                            }
                            to {
                                height: 100%;
                            }
                        }
                    }
                }

                &.header-gmail {
                    &:before,
                    &:after,
                    .header-section-elems:before,
                    .header-section-elems:after {
                        background-color: #ff4343;
                    }
                }
                &.header-call {
                    &:before,
                    &:after,
                    .header-section-elems:before,
                    .header-section-elems:after {
                        background-color: var(--ten-percent);
                    }
                }
                &.header-location {
                    &:before,
                    &:after,
                    .header-section-elems:before,
                    .header-section-elems:after {
                        background-color: #34a853;
                    }
                }

                .header-holder {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .header-icon {
                    border-radius: 100vmax;

                    &.location {
                        background-color: #34a853;
                    }

                    &.gmail {
                        background-color: #ff4343;
                    }

                    &.call {
                        background-color: var(--ten-percent);
                    }

                    svg {
                        margin: 10px;
                        fill: white;
                    }
                }
            }
        }
    }
    .content-section {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            gap: 8vh;
        }

        .content-wrapper {
            width: 100%;

            display: flex;
            align-items: center;

            gap: 20%;
            row-gap: 3vh;

            @media screen and (max-width: 768px) {
                flex-direction: column;
                row-gap: 5vh;
            }

            .content {
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 1vh;

                .content-header {
                    margin-bottom: 1vh;

                    position: relative;
                    isolation: isolate;
                    padding: 10px 0;

                    @media screen and (max-width: 768px) {
                        font-size: clamp(0.9rem, 0.6rem + 2vw, 1.4rem);
                    }

                    span {
                        padding-left: 10px;
                        background-color: var(--thirty-percent);
                    }

                    &::after {
                        content: '';

                        position: absolute;
                        right: 0;
                        bottom: 0;

                        height: 2px;
                        width: 50px;

                        z-index: -1;

                        background-color: var(--sixty-percent);
                    }
                }
                .content-link-wrapper {
                    // reset
                    color: unset;
                    text-decoration: none;

                    &:hover .content-link {
                        transform: translateX(-20%);
                        color: var(--ten-percent);
                    }

                    .content-link {
                        @media screen and (max-width: 768px) {
                            font-size: clamp(0.7rem, 0.4rem + 1.8vw, 1.25rem);
                        }

                        transition: transform 0.3s ease-in-out,
                            color 0.3s ease-in-out;
                    }
                }
            }
        }
        .logo-wrapper {
            width: 200px;
            aspect-ratio: 1/1;

            @media screen and (max-width: 1024px) {
                width: 150px;
            }
            @media screen and (max-width: 768px) {
                width: 100px;
            }

            img {
                width: 100%;
                max-height: 100%;
                object-fit: cover;
            }
        }
    }
}
