.nav-container {
    position: fixed;
    width: 100%;

    padding: 2rem;

    display: flex;
    justify-content: center;

    .nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 85%;
        .nav-items {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3vw;
            flex-direction: row-reverse;

            font-family: Shabnam;

            cursor: pointer;

            .nav-item {
                padding: 10px;

                position: relative;

                display: flex;
                align-items: center;
                justify-content: center;

                color: var(--primary-color);

                transition: 0.5s ease-in-out color;

                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;

                    z-index: -1;

                    background-color: var(--primary-color);

                    width: 20px;
                    height: 20px;

                    border-radius: 100vmax;

                    transition: 0.5s ease-in-out all;
                }

                &:hover {
                    color: var(--sixty-percent);
                }
                &:hover::before {
                    background-color: var(--sixty-percent);
                }
            }
        }
    }
}
