
<!-- basic -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

<!-- title -->
<title>Akam | {{ title }}</title>
<meta name="og:title"      content="Akam | {{ title }}" />
<meta name='twitter:title' content='Akam | {{ title }}'>

<!-- description -->
<meta name='description'         content='Akam Company description'>
<meta property='og:description'  content='Akam Company description'>
<meta name='twitter:description' content='Akam Company description'>

<!-- general -->
<meta name="subject" content="your website's subject">
<meta name="copyright" content="copyright GG">
<meta name="robots" content="index,follow" />
<meta name="designer" content="00 Team">
<meta name="url" content="http://www.websiteaddrress.com">
<meta name="category" content="">
<meta name="theme-color" content="#ff0000" />

<!-- open graph -->
<meta name="og:type" content="website" />
<meta name="og:url" content="http://www.imdb.com/title/tt0117500/" />
<meta name="og:image" content="http://ia.media-imdb.com/rock.jpg" />
<meta name="og:site_name" content="IMDb" />
<meta name="og:description" content="A group of U.S. Marines, under command of..." />

<!-- apple -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes"  />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<!-- icons -->
<link rel="shortcut icon" type="image/ico" href='icons/favicon.ico' />
<link rel="icon" type="image/png" sizes="16x16" href='icons/favicon-16x16.png'>
<link rel="icon" type="image/png" sizes="32x32" href='icons/favicon-32x32.png'>
<link rel="apple-touch-icon" sizes="180x180" href='icons/apple-touch-icon.png'>