@use 'config' as g;
@use 'theme';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;

    &:focus {
        outline: 0;
    }
}

::-webkit-scrollbar {
    width: 10px;
    background: #040404;
}

::-webkit-scrollbar-thumb {
    background-color: #272727;
    border: 2px solid #040404;
    border-radius: 20px;
}

// selection
::selection {
    color: #fff;
    background-color: #555;
}

body {
    overflow: auto;
    overflow-x: hidden;

    text-align: right;
}

html,
body {
    scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
    body {
        @include theme.dark;

        background-color: var(--primary-color);
        color: var(--accent-color);
    }
}
@media (prefers-color-scheme: light) {
    body {
        @include theme.light;

        background-color: var(--primary-color);
        color: var(--accent-color);
    }
}

span.special-word {
    color: var(--sixty-percent);
    font-weight: bold;
}

.title_hero {
    font-size: g.$TITLE_FONTSIZE_HERO;
    font-family: Shabnam;
}
.section_title {
    font-size: clamp(1.9rem, 3.2vw + 1.6rem, 3.1rem);
    font-family: Shabnam;
}
.title {
    font-size: g.$TITLE_FONTSIZE;
    font-family: Shabnam;
}
.title_small {
    font-size: g.$TITLE_FONTSIZE_SMALL;
    font-family: Shabnam;
}
.title_smaller {
    font-size: g.$TITLE_FONTSIZE_SMALLER;
    font-family: Shabnam;
}

.description {
    font-size: g.$DESCRIPTION_FONT_SIZE;
    font-family: Shabnam;
}
.description_small {
    font-size: g.$DESCRIPTION_FONT_SIZE_SMALL;
    font-family: Shabnam;
}

.icon {
    display: grid;
    place-items: center;
}

.category {
    font-family: 'Oleo Script', cursive;
    font-weight: 600;
}
