<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "includes/meta.html" %}

        <title>Error {{ error.code }} - {{ error.title }}</title>
        <link rel="stylesheet" href="/static/css/error.css" />
        <link rel="stylesheet" href="/static/fonts/imports.css" />
    </head>
    <body
    {% if error.locale_dir == "rtl" %}
        style="direction:rtl;text-align:right"
    {% endif %}
    >
        <div class="error-container">
            <div class="svg-container">
                <object data="/static/svg/servererror.svg"></object>
            </div>
            <div class="error-texts">
                <div class="title">{{ error.code }} - {{ error.title }}</div>
                <div class="description">{{ error.description }}</div>
            </div>
            {% if error.code == "404" %}
                <a href="/">Home</a>
            {% endif %}
        </div>
    </body>
</html>
